[submodule "third-party/DirectX-Headers"]
	path = third-party/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "third-party/OpenXR-SDK"]
	path = third-party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third-party/UEVR"]
	path = third-party/UEVR
	url = git@github.com:praydog/UEVR.git
